<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <!--Actions-->
    <record id="demo_action" model="ir.actions.act_window">
        <field name="name">Menu Item</field>
        <field name="res_model">demo</field>
        <field name="view_mode">tree,form</field>
        <field name="domain">[]</field>
        <field name="context">{}</field>
    </record>

    <!--Menus-->
    <menuitem id="menu_root" name="Demo" groups="base.group_user"
              web_icon="demo, static/description/menu_icon.png">
        <menuitem id="menu_item"
                  name="Menu Item"
                  action="demo_action"
                  sequence="1"/>
    </menuitem>
</odoo>