.o_home_menu {

    .o_menu_search {
        align-items: center;
        background-color: rgba(white, .1);
        border-radius: 4px;
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(black, .1) ;
        display: flex;
        flex: 0 0 auto;
        height: $o-navbar-height;
        margin: 0 auto;
        max-width: $o-home-menu-container-size;
        padding: 10px 15px;
        text-shadow: 0 1px 0 rgba(black, .5);
        width: 100%;
        @include media-breakpoint-up(md) {
            margin: 22px auto;
        }

        .o_menu_search_icon {
            color: white;
            flex: 0 0 auto;
            font-size: 20px;
            margin-right: 15px;
        }

        .o_menu_search_input {
            background-color: rgba(0, 0, 0, 0);
            border: none;
            color: white;
            flex: 1 1 auto;
            text-shadow: inherit;

            &:focus {
                outline: none;
            }

            @mixin o-placeholder { // Rules below need to be separated. Otherwise all browsers will discard the whole rule.
                color: white;
                opacity: 0.5;
            }

            &::-webkit-input-placeholder { // WebKit, Blink, Edge
                @include o-placeholder;
            }
            &::-moz-placeholder { // Mozilla Firefox 19+
                @include o-placeholder;
            }
        }
    }

    &.o_search_hidden .o_menu_search {
        margin: 0;
        max-height: 0;
        opacity: 0;
        padding: 0;
        user-select: none;

        > .o_menu_search_input {
            cursor: default;
        }
    }
}
