.o_NotificationBadge_counter {
    background-color: darkred;
    position: relative;
    transform: translate(-13px, -12px);
    margin-right: -10px;
    font-size: 9px;
}

.ellipsis-text > p,
.ellipsis-text > h1,
.ellipsis-text > h2,
.ellipsis-text > h3,
.ellipsis-text > h4,
.ellipsis-text > h5,
.ellipsis-text > h6{
    max-width: 30rem !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
}

.ellipsis-text > p:nth-child(n + 2),
.ellipsis-text > h1:nth-child(n + 2),
.ellipsis-text > h2:nth-child(n + 2),
.ellipsis-text > h3:nth-child(n + 2),
.ellipsis-text > h4:nth-child(n + 2),
.ellipsis-text > h5:nth-child(n + 2),
.ellipsis-text > h6:nth-child(n + 2){
    display: none !important;
}

.ellipsis-text > p:first-child,
.ellipsis-text > h1:first-child,
.ellipsis-text > h2:first-child,
.ellipsis-text > h3:first-child,
.ellipsis-text > h4:first-child,
.ellipsis-text > h5:first-child,
.ellipsis-text > h6:first-child{
    max-width: 30rem !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    white-space: pre-wrap !important;
}