.portal-notification-action-menu-container{
   display: none;
   width:70%;
}

.portal-notification-action-menu-wrapper{
    width:100%;
    display: flex;
    justify-content: center;
}

.portal-notification-dropdown{
    position: relative;
    display: inline-block;
}

#portal-notification-popup-action-menu{
   -ms-user-select: none;
   user-select: none;
   display:none;
   position: absolute;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   background-color: #fff;
   color: #1f194c;
   min-width: 160px;
   padding: 0.5em 0.4em;
   font-size: 13px;
   position:fixed;
   border-radius: 6px;
}

.portal-notification-action-menu{
    width:88px;
    text-align: center;
    margin-bottom:8px;
    cursor:pointer;
}

.portal-notification-item{
     display: block;
     text-decoration: none;
     user-select: none;
     padding: 0.3em 1.2em;
}

.portal-notification-dropdown:hover #portal-notification-popup-action-menu{
   display: block;
}

.portal-notification-item:hover{
     user-select: none;
     background-color: rgba(44,141,247,0.2);
     cursor:pointer;
}

.portalNotificationInputSearch{
   box-sizing: border-box;
   background-position: 10px 10px;
   background-repeat: no-repeat;
   width: 100%;
   font-size: 16px;
   padding: 12px 20px 12px 40px;
   border: 1px solid #ddd;
   margin-bottom: 12px;
   background-size:16px;
   background-image: url("../../description/icon_search.png");
}

.portal-notification-content{
    max-width: 20rem !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
}

.portal-notification-content > p,
.portal-notification-content > h1,
.portal-notification-content > h2,
.portal-notification-content > h3,
.portal-notification-content > h4,
.portal-notification-content > h5,
.portal-notification-content > h6{
    max-width: 20rem !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
}

.portal-notification-content > p:nth-child(n + 2),
.portal-notification-content > h1:nth-child(n + 2),
.portal-notification-content > h2:nth-child(n + 2),
.portal-notification-content > h3:nth-child(n + 2),
.portal-notification-content > h4:nth-child(n + 2),
.portal-notification-content > h5:nth-child(n + 2),
.portal-notification-content > h6:nth-child(n + 2){
    display: none !important;
 }

.portal-notification-content > p:first-child,
.portal-notification-content > h1:first-child,
.portal-notification-content > h2:first-child,
.portal-notification-content > h3:first-child,
.portal-notification-content > h4:first-child,
.portal-notification-content > h5:first-child,
.portal-notification-content > h6:first-child{
    max-width: 20rem !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    white-space: pre-wrap !important;
}